.vscode
build
a.out
b.txt
c.txt
generate.cpp
my_test.txt
my_test2.txt
my_test3.txt
my_test1000.txt
my_test10000.txt
my_test50000.txt
my_test100000.txt
my_test1000000.txt
test100.txt
test1000.txt
test10000.txt
test100000.txt
test1000000.txt
res
res.txt
15.dat
